- add_stimulus_controller :charts

.container
  .row.align-items-center
    .col-auto
      %h3= @sim1.retiree.name
    .col
      %small.text-muted= @sim1.configuration.description
.container-lg
  .row
    .col
      -# Vue component containing d3 chart injected here
      .chart-container{"data-target": "charts.chart"}
