.row.align-items-center
  .col-auto
    %h3= @sim1.retiree.name
  .col
    %small.text-muted= @sim1.configuration.description
.row
  .col
    .show-simulation
    :javascript
      window.currentBalancesChart = new BalancesChart({el: document.querySelector(".show-simulation")});
